<div class='user'>
  <div class='name'>
    <% if defined?(name_link) %>
      <a href='/users/<%= user.id %>'>
        <%= "#{user.first_name} #{user.last_name}" %>
      </a>
    <% else %>
      <%= "#{user.first_name} #{user.last_name}" %>
    <% end %>
  </div>
  <div class='info'>
    <div class='label'>Email: </div>
    <div class='value'> <%= user.email %> </div>
  </div>
  <div class='info'>
    <div class='label'>Age: </div>
    <div class='value'> <%= user.age %> </div>
  </div>
</div>
